{% load static %}
<footer class="page-footer orange darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 style='font-family: "Leckerli One", serif; text-shadow: 2px 2px 2px #4e342e;'>Karmacanix</h5>
        <p class="grey-text text-lighten-4">Small team of specialists deliving development projects with a focus on simplicity and value. Contact us to successfully develop your next concept. Web, mobile, IoT and beyond.</p>

      </div>

      <div class="col l1 s12 right">
        <h5 style='font-family: "Leckerli One", serif; text-shadow: 2px 2px 2px #4e342e;'>Links</h5>
        <ul>
          <li><a class="white-text" href="https://x.com/karmacanix75"><i class="fa-brands fa-x-twitter fa-lg"></i></a></li>
          <li><a class="white-text" href="https://github.com/Karmacanix"><i class="fa-brands fa-github fa-lg"></i></a></li>
          <li><a class="white-text" href="#!">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    <p class="center-align">Made by <a class="orange-text text-lighten-3" href="#" style='font-family: "Leckerli One", serif; text-shadow: 2px 2px 2px #4e342e;'>Karmacanix<i class="tiny material-icons">copyright</i></a> 2024</p>
    </div>
  </div>
</footer>