{% extends "home/base.html" %}
{% load static %}
{% block content %}

<body>
   <main>
      <div class="container">
          <div class="row">
              <div class="container">
                  <div class="card brown darken-2">
                      <div class="card-content white-text">
                          <span class="card-title"><h3>Set new password</h3></span>
                          <ol>
                            <li><small>Enter your new password.</small></li>
                            <li><small>Re-enter your new password.</small></li>
                          </ol>
                          <form class="form" method="post">
                            {% csrf_token %}
                            <div class="input-field">
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                            </div>
                            <div class="input-field">
                              <input id="passwordnew" type="password" class="validate">
                              <label for="passwordnew">Password</label>
                            </div>
                            <div class="card-action">
                              <a class="waves-effect waves-light btn-large deep-orange accent-3"><i class="material-icons left">swap_vert</i>Change</a>
                            </div>
                          <input type="hidden" name="next" value="{% url 'password_reset_complete' %}">
                        </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</body>
{% endblock %}