{% extends "home/base.html" %}
{% load static %}
{% block content %}

<body>
  <main>
      <div class="container">
          <div class="row">
              <div class="container">
                  <div class="card brown darken-2">
                      <div class="card-content white-text">
                          <span class="card-title"><h3>Reset password</h3></span>
                          <ol>
                            <li>Enter your email address.</li>
                            <li>On submit, a reset email is sent.</li>
                            <li>Click the link in the email to reset.</li>
                          </ol>
                          <form method="post" action="{% url 'password_reset' %}">
                            {% csrf_token %}
                            <div class="input-field">
                              <input id="email" type="email" class="validate">
                              <label for="email">Email</label>
                            </div>
                            <div class="card-action">
                              <a class="waves-effect waves-light btn-large deep-orange accent-3"><i class="material-icons left">upload</i>Submit</a>
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</body>
{% endblock %}
