{% extends "home/base.html" %}
{% load static %}
{% block content %}
<body>

  {% if next %}
      {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
      {% else %}
          <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}
  <main>
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="card brown darken-2">
            <div class="card-content white-text">
              <span class="card-title"><h3>Please sign in</h3></span>
              <p>Enter your username and password. </p>
              <form method="post" action="{% url 'signup' %}">
                
                  <div class="input-field">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                  </div>
                
                
                  <div class="input-field">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                  </div>
                <input type="hidden" name="next" value="{{ next }}">
              </form>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn-large deep-orange accent-3"><i class="material-icons left">person_add</i>Submit</a>
            </div>
          </div><p><a href="{% url 'password_reset' %}">Lost password?</a></p> 
        </div>             
      </div>
    </div>
  </main>


  
</body>
{% endblock %}
